// for using scss variables delete root
// colors
:root {
  // base
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Jost", sans-serif;
  --content-width: 134rem;
  --container-offset-big: 3.2rem;
  --container-offset-small: 1.6rem;
  --container-width: calc(
    var(--content-width) + (var(--container-offset-small) * 2)
  );

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --primary-dark: #56593d;
  --primary-light: #ffffef;
}
