h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-main);
  font-weight: 400;
  box-sizing: border-box;
  font-size: 62.5%;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-dark);
  font-size: 1.6rem;
}

.container {
  max-width: var(--container-width);
  padding: var(--container-offset-small);
  margin: 0 auto;
}
